.card-container {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
}

.card-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}