<div style="font-weight: bold">{{item.Datum}} | {{item.Zeit}}</div>
<div><em>Temperatur:</em> {{item["Temp. A."]}} / {{item["Temp. 3"]}}</div>
<div><em>Feuchtigkeit:</em> {{item["Feuchte A"]}}</div>
<div><em>Regen:</em> {{item["Regen"]}}</div>