<div class="dashboard-container">

  <div class="card-container" *ngIf="soQuestions?.typescript">
    <app-card title="Typescript">
      <div
        class="card-item"
        *ngFor="let item of soQuestions?.typescript | slice:0:10">
        
        <app-so-question
          [item]="item"
        ></app-so-question>
      </div>
    </app-card>
  </div>

  <div class="card-container"  *ngIf="soQuestions?.angular2">
    <app-card title="Angular2">
      <div 
        class="card-item"
        *ngFor="let item of soQuestions?.angular2 | slice:0:10">

        <app-so-question
          [item]="item"
        ></app-so-question>
      </div>
    </app-card>
  </div>

  <div class="card-container" *ngIf="soQuestions?.weather && weatherData">
    <app-card title="Weather">
      <div *ngFor="let index of [0,1,2,3,4]">

        <div class="card-item">

          <app-so-question
            [item]="soQuestions?.weather[index]"
          ></app-so-question>
        </div>

        <div class="card-item">
          <app-weather-info
            [item]="weatherData[index]"
          ></app-weather-info>
        </div>

      </div>

    </app-card>
  </div>


</div>
