.dashboard-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card-container {
    width: 300px;
    margin-bottom: 30px;
}

.card-item {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        background-color: #eee;
    }
}