<a href="{{item.link}}">
  <div class="question" innerHTML="{{item.title}}"></div>
  <div class="last-updated">Last updated: {{item.last_activity_date * 1000 | date}}</div>
  <div>
    <span><i class="fas fa-eye"></i>  {{item.view_count}}</span>   
    <span><i class="fas fa-comments"></i>  {{item.answer_count}}</span>
  </div>
</a>  